<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <style>
        .navbar {
            background-color: #563d7c;
            color: #fff;
            padding: 30px;

        }

        .navbar-nav {

            font-size: large;

        }

        .form {
            border: 1px solid #ccc;

        }

        hr.new {
            border: 1px solid black;

        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #563d7c;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <!--########################### NAVBAR ################################-->
    <!--########################### NAVBAR ################################-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#section1">About</a>
                <a href="#section2">Services</a>
                <a href="#section3">Clients</a>
                <a href="#section4">Contact</a>
            </div>


            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

            <h4>E-BUDDY</h4>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/">COMPLAINT</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link active " href="/nodal">NODAL</a>
                    </li> --}}

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle " href="/login" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            LOGIN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item " href="/nodalui">NODAL</a></li>
                            <li><a class="dropdown-item " href="/aadharui">E-AADHAR</a></li>
                            <li><a class="dropdown-item " href="/bankui">BANK</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/nclbreg">NCLP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/aboutus">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/donate">DONATE</a>
                    </li>



                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

        {{!-- <div class="jumbotron">
            <h1 class="display-4">WELCOME TO E-BUDDY</h1>
            <p class="lead">This is a complaint website .which recevice your complaint and take step to clear it with
                two weeks </p>
            <hr class="my-4">
            <p>Use this website to clear your problems around you </p>

        </div> --}}


        <!-- ################################ REGISTER FORM ##################################-->

        <h1>About us</h1>
        <hr class="new">


        <div class="section one" id="section1">
            <p>PENCiL Portal
                Home » Learn » Government Initiatives » PENCiL Portal<br>
               
                <p align="justify">
                    <ul>
                        <li>The Ministry of Labour and Employment launched Platform has launched the Platform for Effective
                Enforcement for No Child Labour (PENCiL) portal to rehabilitate child labour in the country. The PENCiL
                portal is an online platform that aims at engaging the Central Government, State Government, District,
                civil society and the public in eradicating child labour to achieve the target of child labour free
                society. This portal enables the citizens to raise a complaint and report incidents of child labour
                through effective tracking and monitoring mechanism. Let us look in detail about the PENCiL Portal in
                this article.</li></ul></p>
                
        </div>
        <div class="section two" id="section2">
            <h1>ACT</h1>
         1.Industrial Disputes Act 1947<br>
         2.Industrial Disputes Act Amendment 2010.<br>
         3.The Contract Labour (Regulation & Abolition)Act,and Rules, 1970<br>
         4.The Building and Other Construction Works (RE & CE) Act, 1996<br>
         5.The Minimum Wages Act, 1948<br>
         6.The Equal Remuneration Act, 1976<br>
         7.The Payment of Gratuity Act, 1972<br>
         8.The Child Labour (Prohibition & Regulation)Act and Rules 1986<br>
         9.The Payment of Bonus Act, and Rules 1976<br>
        10.The Interstate Migrant Workmen (RE &CS) Act and Rules, 1979<br>
        11.The Payment of Wages Act, 1936<br>
        12.The Maternity Benefit Act, 1961<br>
        13.Labour Law ( Exemption From Furnishing Returns & Maintaining Registers by Certain Establishments ) Act, 1988<br>
        14.Industrial Employment(Standing Orders),Act 1946. Rules<br>
        15.Railway Servants (Hours of Work And Period of Rest)Rules,2005.<br>
        </div>
        <div class="section two" id="section2">
            <h1>SSA</h1>
            <P align="justify"><ul><li> Sarva Shiksha Abhiyan (SSA) is Government of India's flagship programme for achievement of Universalization of Elementary
             Education (UEE) in a time bound manner, as mandated by 86th amendment to the Constitution of India making free and compulsory 
             Education to the Children of 6-14 years age group, a Fundamental Right.SSA is being implemented in partnership with State Governments
              to cover the entire country and address the needs of 192 million children in 1.1 million habitations.</li></ul></P>

           <P align="justify"><ul><li>The programme seeks to open new schools in those habitations which do not have schooling facilities and strengthen existing school
            infrastructure through provision of additional class rooms, toilets, drinking water, maintenance grant and school improvement grants.
            Existing schools with inadequate teacher strength are provided with additional teachers, while the capacity of existing teachers is
            being strengthened by extensive training, grants for developing teaching-learning materials and strengthening of the academic support
            structure at a cluster, block and district level.</li></ul></p>

          <p align="justify"><ul><li>SSA seeks to provide quality elementary education including life skills. SSA has a special focus on girl's education and children with
            special needs. SSA also seeks to provide computer education to bR&Dge the digital divide.</li></ul></p>



        <div class="section four" id="section4">
            <h1><b>PENCIL</b></h1>
            <h4><b>PENCIL PORTAL</b></h4> 
            <p align="justify">The Ministry of Labour and Employment launched Platform has launched the Platform for Effective Enforcement for No Child Labour
             (PENCiL) portal to rehabilitate child labour in the country. The PENCiL portal is an online platform that aims at engaging the 
             Central Government, State Government, District, civil society and the public in eradicating child labour to achieve the target 
             of child labour free society. This portal enables the citizens to raise a complaint and report incidents of child labour through 
             effective tracking and monitoring mechanism. Let us look in detail about the PENCiL Portal in this article.</p>
             <h4><b>objective</b></h4>
            <P align="justify"><ul><li>The main objective of PENCiL Portal is to build a strong authentication mechanism for implementing and monitoring both the 
                enforcement of the legislative provisions and effective implementation of the NCLP. It aims to facilitate convergence and provides better 
                coordination between the Governments departments and the general public.</li></ul></P>
             <h4><b>Features Of Pencil Portal</b></h4>
            <p align="justify"><ul><li>The PENCiL Portal is an integrated application system that is based on the technology which primarily aims at the submission of 
            complaints by any citizens of the country from any where and any time basis for the easy communication between the nodal officers of the Government
             departments andalso enables the citizens to track the status of the registered complaints.</li></ul></p>
             <p align="justify"><ul><li>It mandates the uniform and systematic approach towards the monitoring of the process by adopting a general classification 
                and standardisation of filing complaints and ease the efforts across the Government departments.</li></ul></p>
             <p align="justify"><ul><li>This portal facilitates the online lodging of complaints that are registered by the general citizens to the concerned Departments, Ministries and
                 Organizations which can be linked to their official portal.The PENCiL portal facilitates the monitoring complaints and reports as per the requirements
                  of Government departments for the effective monitoring for the pending reports.</li></ul></p>
              <P align="justify"><ul><li>It facilitates the user with the generation of automated notifications such as Acknowledgement and replies for the official correspondence with the 
               complainants.This application is most flexible to be extended as per the requirements of Governments departments for the quick and effective action 
               for the registered complaints that are found to be genuine.</li></ul></P>
               <p align="justify"><ul><li>All the complaint filed by the citizen gets assigned automatically by the system to the respective Nodal Officer for the rescue, rehabilitation and 
               mainstreaming of the child labourer.Successful mainstreaming into legal schools of all children who have been withdrawn from child labour and 
               rehabilitated through the NCLPS.</li></ul></p>
               <h4><b>Components Under PENCIL PORTAL</b></h4>
               <P align="justify"><ul><li>The below following are the various components of PENCiL Portal that are namely:</li></ul></P>

             1.Child Tracking System<br>
             2.Complaint Corner<br>
             3.State Government<br>
             4.National Child Labour Project<br>
             5.Convergence<br>

        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>

